<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to MRM database</h1>
        <p class="lead">Select one of the links to begin</p>
        <hr class="my-4">

        <a class="btn btn-primary btn-lg" href="./search" role="button">Search for peptides</a>
        <a class="btn btn-primary btn-lg" href="./upload" role="button">Upload new peptide information</a>

    </div>
</div>
<script>

</script>
   