<div class="container">
    <div class="h1 justify-content-center">
        Search for Peptide
    </div>
    <hr>
    <form>
        <label for="searchItem">Input your search terms: </label>
        <input type="text" class="form-control" id="searchItem" placeholder="Search here">
        <button class="form-control btn btn-info" id="searchBtn">Search</button>
        <hr>
        
    </form>
    
</div>
<script src="../frontendJS/search.js"></script>