<div class="container mt-5">
    <div class="h1 justify-content-center">
        Search for Peptide
    </div>
    <hr>
    
        <div class="row">
            <div class="col-7">
                <label for="searchItem">Input your search terms: </label>
                <input type="text" class="form-control" id="searchItem" placeholder="Search here">
            </div>
            <div class="col-3">
                <label for="searchColumn">Search by: </label>
                <select class="form-control" name="searchColumn" id="searchColumn">
                    
                    <option id="defaultOption" value="Peptide">Peptide</option>
                    <option value="CatalogNumber">Catalog Number</option>
                    <option value="ProteinSymbol">Protein Symbol</option>
                </select> 
            </div>
            <div class="col-2 p-4">
                <input class="form-check-input" type="checkbox" value="" id="exactMatchCB">
                <label class="form-check-label" for="exactMatchCB">
                    Exact Match
                </label>
            </div>
            
        </div>
        
        <hr>
    
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <button class="form-control btn btn-info" id="searchBtn">Search</button>
        </div>
    </div>
        

    
</div>
<script src="/frontendJS/search.js"></script>
<link rel="stylesheet" href="/frontendJS/search.css">