<div class="container">
    <div class="h1 justify-content-center">
        Upload files to Database
    </div>
    <hr>
    <form action="/uploadItem/uploadTrans" method="post" enctype="multipart/form-data">
        <label for="uploadItem">Select the file to upload: </label>
        <input type="file" class="form-control" id="uploadItem" name="uploadTrans">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <button class="form-control btn btn-info mt-5" id="uploadFile">Upload</button>
            </div>
            <div class="col-4"></div>
        </div>
        
        
        
    </form>
    
</div>
<script src=""></script>